/*style.css*/

  .headline .headline_border {
    width: 60px;
    border: none;
    border-top: 8px solid #012995;
    margin: 20px auto 30px; }
  .headline .headline_border_red {
    width: 60px;
    border: none;
    border-top: 8px solid #E40000;
    margin: 20px auto 30px; }

.font-main, body, .list.list-footer {
  font-family: "HelveticaNeue-CondensedBold","Noto Sans", sans-serif; }

      .list.list-footer li a {
        font-size: 1.6rem;
        display: block;
        color: #FFF;
        padding: 10px 0; }
		
      .list.list-footer li.child a {
  font-family: "HelveticaNeue","Noto Sans", sans-serif;
        margin-left: 30px;
        font-size: 1.4rem;
		}


/**/
4467
.d-none {
  display: block !important; }
