@charset "UTF-8";
/* CSS Document */
.font-zero{
	font-size:0;
}
.pc{
	display:inherit;
}
.sp{
	display:none;
}
/*-----------------------------
      common
------------------------------ */
.btn.btn-moredetail {
    position: absolute;
    padding: 10px 0;
    border-radius: 10px;
    top: -7px;
    right: 20px;
    width: 200px;
    background: no-repeat right 10px top 50% #009899 url(../img/common/icon_more_detail_off.png);
    border: 1px solid #eaeaea;
    color: #FFF;
    font-size: 1.4rem;
}
.box {
    /* padding: 30px 0; */
    text-align: center;
    border: 2px solid #CCCCCC;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    /* overflow: hidden; */
}
.box .copy_back {
	margin:0 auto;
	border-style: solid;
	border-width: 74px 74px 0 0px;
	border-color: #585858 transparent transparent transparent;
	position: absolute;
	top: 0;
	left: 0;
}
.box .copy {
    position: absolute;
    top: 6px;
    left: 6px;
    /* background-color: #e61818; */
    text-align: left;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    font-size: 16px;
    font-family: "PT Sans Narrow", sans-serif;
}
.box_title .sub{
 margin: 0 auto;
 font-size: 27px;
 color: #e50101;
 font-weight: bold;
}
a.order_link{
 margin: 0 auto;
 display: block;
 position: relative;
}
a.order_link:after{
 position: absolute;
 content: "";
 width: 20px;
 height: 25px;
 background-image: url("../img/common/icon_navi.png");
 background-position: center;
 background-repeat: no-repeat;
 background-size: 9px;
 right: 26px;
 top: 40%;
}
a.order_link .box_title{
 margin: 0 auto;
 padding: 25px 0px;
 border: 2px solid #fff;
 border-radius: 5px;
}
.rate_wrap{
 margin: 0 auto;
 text-align: center;
 width: 100%;
 margin-top: 1px;
 margin-bottom: 30px;
}
.rate_wrap .s_box{
 margin: 0 auto;
 text-align: center;
 display: inline-block;
 width: 32.5%;
 vertical-align: top;
 padding-top: 10px;
 padding-bottom: 10px;
}
.rate_wrap .s_box .s_wrap{
 margin: 0 auto;
 text-align: center;
 border-bottom: 1px dotted #999;
 padding: 7px;
}
.rate_wrap .s_box .s_wrap:last-child{
	border-bottom:none;
}
.rate_wrap .s_box .s_wrap .plan{
 margin: 0 auto;
 display: inline-block;
 margin-left: 15px;
 margin-right: 20px;
 font-size: 17px;
}
.rate_wrap .s_box .s_wrap .fee{
 margin: 0 auto;
 display: inline-block;
 margin-right: 30px;
 font-size: 17px;
}
/*----------------------------------------*/
/*--------アコーディオンリセット----------*/
.accordionbox {
    margin: 0 auto;
    display: inline-block;
    position: relative;
    margin-top: 15px;
    width: 91%;
    padding: 30px 30px;
}
.accordionbox ul.accordionlist {
    margin: 0 auto;
    padding: 0;
}
.accordion_icon {
    position: absolute;
    width: 50px;
    left: 19px;
    top: 11px;
    border-radius: 30px;
    height: 50px;
    border: 2px solid #454545;
    background-color: rgba(255, 255, 255, 0.12);
    margin: 0;
}
.accordionbox .btn_open{
 margin: 0 auto;
}
.accordionbox .btn_open .comment{
 margin: 0 auto;
 padding: 23px 63px;
 border: 1px solid #000000;
 font-size: 17px;
 background-color: #000;
 color: #ffffff;
}
.accordionbox .thumb{
 margin: 0 auto;
 width: 90%;
 position: relative;
 max-width: 600px;
}
.accordionbox .open_box {
    padding-top: 40px;
}
.accordion_icon {
    position: absolute;
    width: 50px;
    bottom: -28px;
    left: 7px;
    border-radius: 30px;
    height: 50px;
    border: 2px solid #ffffff !important;
    background-color: rgba(255, 255, 255, 0.12);
}
.accordion_icon span {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    margin-top: 29px;
    height: 2px;
    background-color: #ffffff !important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}
/*-----------------------------
      Top
------------------------------ */
.advantages{
	margin: 0 auto;
	background-color: #F1F1F1;
	padding-top: 50px;
	padding-bottom: 70px;
	overflow: hidden;
	}
.support{
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
	overflow: hidden;
	}
.carousel{
	margin: 0 auto;
	width: 90%;
	max-width: 1000px;
	margin-bottom: 20px;
	}
.carousel .s_box{
	margin: 0 auto;
	width: 95%;border-radius: 8px;
	overflow: hidden;
	border: 2px solid #ccc;
	}
.carousel .s_box .image{
margin: 0 auto;
}
.advantages .carousel .s_box .comment {
    margin: 0 auto;
    font-size: 14px;
    line-height: 22px;
    color: #707070;
    background-color: #ffffff;
    width: 100%;
    vertical-align: middle;
    padding: 20px 15px;
    height: 130px;
}
.support .carousel .s_box .comment {
    margin: 0 auto;
    font-size: 14px;
    line-height: 22px;
    color: #707070;
    background-color: #ffffff;
    width: 100%;
    vertical-align: middle;
    padding: 20px 15px;
    height: 95px;
}
.carousel .flex-direction-nav .flex-disabled {
    display: none;
}


@media only screen and (max-width: 767px){
.carousel .flex-direction-nav .flex-disabled {
    display: inherit;
}
}
/*-----------------------------
      Top_slider calculation
------------------------------ */
section.calc_section {
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    /* height: 620px; */
}
.top_slide .calc_title{
	margin: 0 auto;
	text-align: center;
	background-color: #8ba3c7;
	padding-top: 6px;
	padding-bottom: 5px;
	margin-bottom: 15px;
}
.top_slide .calc_title .icon{
	margin: 0 auto;
	display: inline-block;
	width: 24px;
	height: auto;
	vertical-align: top;
	margin-right: 5px;
}
.top_slide .calc_title .name{
	margin: 0 auto;
	display: inline-block;
	font-size: 18px;
	line-height: 27px;
	font-weight: bold;
	vertical-align: top;
	color: #ffffff;
}
.top_slide .container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    height: 620px;
}
.top_slide .calc_area {
    background: none;
    background-color: #ffffffcc;
    margin: 0 auto;
    margin-top: 0;
    padding-top: 0px;
    padding-bottom: 0;
    width: 40%;
    max-width: 460px;
    border: 5px solid #8ba3c7;
    border-radius: 8px;
    text-align: center;
    position: absolute;
    top: 84px;
    right: 0;
}
.top_slide #haiso_select .wrap_title {
    font-size: 15px;
    color: #525252;
    margin-bottom: 5px;
    font-weight: normal;
    text-align: left;
}
.top_slide #haiso_select .haiso_selector {
    margin: 0 auto;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    color: #515151;
    width: auto;
    background-color: rgb(255, 241, 241);
    border: 1px solid rgb(166, 166, 166);
    text-align: left;
}
.top_slide #haiso_select {
    margin: 0 auto;
    margin-bottom: 7px;
}
.top_slide .start_date_box .wrap_title, .top_slide .end_date_box .wrap_title {
    font-size: 15px;
    color: #525252;
    text-align: left;
    margin-bottom: 5px;
}
.top_slide input#s_date02 {
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    color: #515151;
    width: 100%;
    background-color: rgb(255, 241, 241);
    border: 1px solid rgb(166, 166, 166);
}
.top_slide .start_date_box, .top_slide .end_date_box {
    display: block;
    width: 100%;
    margin: 0 auto;
    float: none;
    margin-bottom: 7px;
}
.top_slide input#e_date02 {
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    color: #515151;
    width: 100%;
    background-color: rgb(255, 241, 241);
    border: 1px solid rgb(166, 166, 166);
}
.top_slide .kishu_box .wrap_title {
    font-size: 15px;
    color: #525252;
    margin-bottom: 5px;
}
.top_slide select#kishu {
    font-size: 15px;
    margin-top: 0px;
    height: 35px;
    width: 100%;
    color: #515151;
    background-color: rgb(255, 241, 241);
}
.top_slide .kishu_box {
    text-align: left;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0px;
}
.top_slide label.select_place {
    display: inline-block;
    width: 30%;
    max-width: 200px;
    vertical-align: top;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 6px;
    margin-bottom: 0px;
    margin-top: 2px;
    cursor: pointer;
}
.keyvisual {
    padding: 0;
    background-color: #012995;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover !important;
    height: 615px;
    }
.slick-slide
{
    display: none;
    float: left;
    height: 615px;
    min-height: 1px;
}
.slick-slide img {
    display: block;
    margin-left: 5%;
    width: 45%;
    max-width: 455px;
}
.delivery_service_box {
    position: absolute;
    top: 123px;
    width: 30%;
    background-color: #ffffffd9;
    border-radius: 5px;
    right: 15%;
    overflow: hidden;
    max-width: 350px;
    box-shadow: 2px 2px 4px 0px #2f2f2f;
    border: 2px solid #fff;
    background: rgb(255, 255, 255);
    filter: alpha(opacity=87);
    background: rgba(255, 255, 255, 0.87);
}
.delivery_service_box .title_wrap {
 margin: 0 auto;
 padding: 24px 25px;
 background-color: #0a59b9;
}
.delivery_service_box .title_wrap .title {
 margin: 0 auto;
}
.delivery_service_box .date_box {
 margin: 0 auto;
 padding: 13px 18px;
 text-align: center;
}
.delivery_service_box .date_box .name {
 margin: 0 auto;
 font-size: 20px;
 font-weight: bold;
 color: #000;
}
.delivery_service_box .date_box #shortest_deliv {
 margin: 0 auto;
 font-size: 40px;
 font-weight: bold;
 color: #ff8696;
}
.delivery_service_box .date_box .s_comment {
 margin: 0 auto;
 font-size: 12px;
 line-height: 1.5;
 color: #5f5f5f;
 margin-bottom: 10px;
}
.delivery_service_box .date_box .btn {
 text-align: center;
 margin: 0 auto;
 width: 90%;
 background-color: #de0202;
 color: #fff;
 font-weight: bold;
 border: 3px solid #ffffff;
 font-size: 34px;
 padding: 7px 15px;
 border-radius: 9px;
 box-shadow: 2px 2px 2px 0px #777;
 position: relative;
 cursor: pointer;
}
.delivery_service_box .date_box .btn:before {
 position: absolute;
    content: "";
    right: 5px;
    bottom: 5px;
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px;
    background-image: url(../img/common/btn_icon_W.png);
}
.delivery_service_box .pickup_box {
 margin: 0 auto;
 padding: 20px 20px;
 background-color: #f3f3f3;
 text-align: center;
}
.delivery_service_box .pickup_box .name {
 margin: 0 auto;
 display: inline-block;
 width: 71%;
 vertical-align: middle;
 line-height: 0;
 margin-right: 5px;
}
.delivery_service_box .pickup_box .pickup_store {
 margin: 0 auto;
 font-size: 20px;
 font-weight: bold;
 display: inline-block;
 vertical-align: middle;
 color: #ff8695;
}

/*-----------------------------
      common calculation
------------------------------ */
section.calc_section {
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    /* height: 620px; */
}
.common_calc .calc_title{
	margin: 0 auto;
	text-align: center;
	background-color: #8ba3c7;
	padding-top: 6px;
	padding-bottom: 5px;
	margin-bottom: 15px;
}
.common_calc .calc_title .icon{
	margin: 0 auto;
	display: inline-block;
	width: 24px;
	height: auto;
	vertical-align: top;
	margin-right: 5px;
}
.common_calc .calc_title .name{
	margin: 0 auto;
	display: inline-block;
	font-size: 18px;
	line-height: 27px;
	font-weight: bold;
	vertical-align: top;
	color: #ffffff;
}
.common_calc .container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    height: 620px;
}
.common_calc .calc_area {
    background: none;
    background-color: #ffffffcc;
    margin: 0 auto;
    margin-top: 0;
    padding-top: 0px;
    padding-bottom: 0;
    width: 95%;
    max-width: none;
    border: 5px solid #8ba3c7;
    border-radius: 8px;
    text-align: center;
}
.common_calc #haiso_select .wrap_title {
    font-size: 15px;
    color: #525252;
    margin-bottom: 5px;
    font-weight: normal;
    text-align: left;
}
.common_calc #haiso_select .haiso_selector {
    margin: 0 auto;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    color: #515151;
    width: auto;
    background-color: rgb(255, 241, 241);
    border: 1px solid rgb(166, 166, 166);
    text-align: left;
}
.common_calc #haiso_select {
    margin: 0 auto;
    margin-bottom: 7px;
    width: 30%;
    display: inline-block;
}
.common_calc .start_date_box .wrap_title, .common_calc .end_date_box .wrap_title {
    font-size: 15px;
    color: #525252;
    text-align: left;
    margin-bottom: 5px;
}
.common_calc input#s_date02 {
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    color: #515151;
    width: 100%;
    background-color: rgb(255, 241, 241);
    border: 1px solid rgb(166, 166, 166);
}
.common_calc .start_date_box, .common_calc .end_date_box {
    display: inline-block;
    width: 33%;
    margin: 0 auto;
    float: none;
    margin-bottom: 7px;
    margin-left: 1%;
}
.common_calc input#e_date02 {
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    color: #515151;
    width: 100%;
    background-color: rgb(255, 241, 241);
    border: 1px solid rgb(166, 166, 166);
}
.common_calc .kishu_box .wrap_title {
    font-size: 15px;
    color: #525252;
    margin-bottom: 5px;
}
.common_calc select#kishu {
    font-size: 15px;
    margin-top: 0px;
    height: 35px;
    width: 100%;
    color: #515151;
    background-color: rgb(255, 241, 241);
}
.common_calc .kishu_box {
    text-align: left;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0px;
}
.common_calc label.select_place {
    display: inline-block;
    width: 30%;
    max-width: 200px;
    vertical-align: top;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 6px;
    margin-bottom: 0px;
    margin-top: 2px;
    cursor: pointer;
}
.common_calc .haiso_box {
    text-align: center;
    max-width: 910px;
    width: 85%;
    margin: 0 auto;
    position: absolute;
    background-color: #525252e0;
    border: 3px solid #406bb7;
    padding: 20px;
    border-radius: 14px;
    left: 0;
    right: 0;
    top: auto;
}
.common_calc #calc_btn {
    margin: 0 auto;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    width: 66% !important;
    max-width: 380px;
    display: inline-block;
}
.common_calc .calc_area .btn_reset {
    display: inline-block;
    width: 15%;
    max-width: 101px;
    margin-right: 1%;
}

/*-----------------------------
      Order
------------------------------ */
.common_faq{
 background-color: #f1f1f1;
}
.common_faq .data_list{
}
.common_faq .data_list td{
 border: 1px solid #ccc;
 text-align: left;
 padding: 7px;
 font-size: 15px;
 line-height: 24px;
}
.common_faq .data_list td.data{
 width: 120px;
}
.common_faq .wrap_faq{
	width: 90%;
	max-width: 1080px;
	margin: 0 auto;
	margin-top: 40px;
	text-align:  center;
	padding-bottom: 39px;
}
.common_faq .wrap_faq .title {
    margin: 0 auto;
    margin-bottom: 35px;
    padding-bottom: 27px;
    padding-top: 50px;
    color: #000;
    font-weight: bold;
    font-size: 2.4rem;
    font-family: "PT Sans Narrow", sans-serif;
}
.common_faq .wrap_faq .s_box{
	padding-bottom: 26px;
	padding-top: 33px;
	width: 47%;
	display: inline-block;
	margin-left:  1%;
	margin-right: 1%;
	vertical-align:  top;
	border-bottom: 2px dashed #707070;
}
.common_faq .wrap_faq .text_q{
	margin:0 auto;
	width: 90%;
	font-size: 1.4rem;
	line-height: 1.5;
	text-align: left;
	margin-bottom: 5px;
	color: #3abc7c !important;
	position:relative;
	padding-left: 51px;
}
.common_faq .wrap_faq .text_q:before{
	position:absolute;
	content:"";
	background-image: url("../img/common/icon_Q.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 35px;
	width: 40px;
	height: 49px;
	font-weight:  bold;
	left: 0;
	top: -27px;
}
.common_faq .wrap_faq .text_a{
	margin:0 auto;
	width: 90%;
	font-size: 1.4rem;
	line-height: 1.5;
	text-align: left;
	color: #707073;
	position:relative;
	padding-left: 51px;
	margin-top: 16px;
}
.common_faq .wrap_faq .text_a:before{
	position:absolute;
	content:"";
	background-image: url("../img/common/icon_A.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 25px;
	width: 40px;
	height: 49px;
	color: #FF7395;
	left: 2px;
	top: -7px;
}
.common_faq .wrap_faq .btn_more_faq{
   margin: 0 auto;
   margin-top: 46px;
   margin-bottom: 10px;
   width: 75%;
   max-width:421px;
}
.common_faq .wrap_faq .btn_more_faq a{
 text-decoration: none;
 color: #ffffff;
 display:block;
 font-size:20px;
 padding-top: 20px;
 padding-bottom: 20px;
 background-color: #000;
 border-radius: 5px;
 position: relative;
 }
.common_faq .wrap_faq .btn_more_faq a:after{
 content: "";
 width: 12px;
 height: 12px;
 background-image:url("../img/common/navi.png");
 background-position: center;
 background-repeat: no-repeat;
 background-size: 8px;
 position: absolute;
 top: 30px;
 right: 15px;
}
.common_faq .wrap_faq .btn_more_faq a:hover{
	opacity:0.5;
	transition:0.4s;
	color:#ffffff;
}
.common_faq .wrap_faq .data_list {
    margin: 0 auto;
    width: 100%;
}
.common_faq .column02{
	margin:0 auto;
	color:#ffffff;
	columns: 2;
	/* column-rule-style: solid; */
	/* column-rule-width: 1px; */
	column-gap: 5%;
	/* column-rule-color: #000000; */
	-moz-column-count: 2;
	/*-moz-column-rule-style: solid;*/
	/*-moz-column-rule-width: 1px;*/
	-moz-column-gap: 5%;
	-moz-column-rule-color: #000000;
	-webkit-column-count: 2;
	/* -webkit-column-rule-style: solid; */
	/* -webkit-column-rule-width: 1px; */
	-webkit-column-rule-color: #e2e2e2;
	-webkit-column-gap: 5%;
	-o-column-count: 2;
	/*-o-column-rule-style: solid;*/
	/*-o-column-rule-width: 1px;*/
	-o-column-rule-color: #000000;
	-o-column-gap: 5%;
	-ms-column-count: 2;
	/*-ms-column-rule-style: solid;*/
	/*-ms-column-rule-width: 1px;*/
	-ms-column-gap: 5%;
	-ms-column-rule-color: #000000;
}
.order-section{
	margin:0 auto;
	width:100%;
	text-align:center;
	margin-bottom: 30px;
}
.order-section .s-wrap{
	display:inline-block;
	width: 29%;
	margin-left: 2%;
	vertical-align: top;
	margin-right: 2%;
	font-family: "PT Sans Narrow", sans-serif;
}
.s-wrap a {
	display:block;
}
.s-wrap a:hover {
	transition:0.4s;
	opacity:0.6;
}

.s-wrap.sk-wrap {}

.order-section .s-wrap .single-btn{
	box-shadow: 2px 2px 7px 0px #777777;
	border-radius: 6px;
	overflow: hidden;
	margin-bottom: 12px;
}
.order-section .s-wrap .single-btn .wifiname{
	color:#000000;
	font-weight:bold;
	font-size:14px;
	line-height:21px;
	padding: 5px;
	margin:0;
}
.order-section .s-wrap .single-btn .period{
	font-size: 28px;
	font-weight:bold;
	line-height: 36px;
	color:#ffffff;
	margin:0;
	padding-top: 3px;
}
.order-section .s-wrap .single-btn .fee{
	font-size: 22px;
	font-weight:bold;
	line-height: 29px;
	color:#ffffff;
	margin:0;
	padding-bottom: 2px;
}
.order-section .sk-wrap .single-btn .period,.order-section .sk-wrap .single-btn .fee{
	background-color:#3abc7c;
}
.order-section .sl-wrap .single-btn .period,.order-section .sl-wrap .single-btn .fee{
	background-color:#888f94;
}
.order-section .au-wrap .single-btn .period,.order-section .au-wrap .single-btn .fee{
	background-color:#ff8a3c;
}
.order-page .calc_area {
    margin: 0 auto;
    width: 100%;
    max-width: none;
    background-color: #f9f9f9;
    margin-top: 0;
    padding-top: 19px;
    padding-bottom: 3px;
    border-bottom: 3px solid #707070;
}
.order-page .kishu_box {
    text-align: left;
    width: 31%;
    margin: 0 auto;
    margin-bottom: 0px;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}
.order-page .start_date_box, .end_date_box {
    display: inline-block;
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
    float: none;
}
.order-page .plan_detail .detail_title {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    color: #525252;
    display: inline-block;
    text-align: center;
    margin: 3%;
    width: 15%;
}
.order-page .plan_list {
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid #999;
    padding-left: 1%;
    text-align: right;
    width: 74%;
}
.rate_wrap .s_box .s_wrap .fee {
    margin: 0 auto;
    font-size: 16px;
}
/*-----------------------------
      Commitment
------------------------------ */
.commitment_area{
margin: 0 auto;
width: 90%;
max-width: 1000px;
}
.commitment_area .lead_box{
    margin: 0 auto;
    width: 90%;
    margin-bottom: 60px;
}

.commitment_lead{
	margin:0 auto;
	width:90%;
	margin-bottom: 40px;
	padding-top: 70px;
}
.commitment_lead .comment{
	font-size: 16px;
	display:inline-block;
	width:60%;
	line-height: 24px;
	color: #707070;
}
.commitment_lead .image{
	display:inline-block;
	width: 14%;
	margin-left: 11%;
	vertical-align: top;
}
.picky_box{
	margin:0 auto;
	width:90%;
	margin-bottom: 50px;
}
.picky_box .box_title{
	font-size: 35px;
	color: #012995;
	position:relative;
	font-family: "PT Sans Narrow", sans-serif;
	padding-left: 0;
	line-height:37px;
	font-weight: 500;
	border-bottom:  3px solid;
	padding-bottom: 11px;
	margin-bottom: 35px;
}
/*.picky_box .box_title:before{
	content:"";
	width:40px;
	height: 69px;
	background-image:url(../img/picky/section_icon.png);
	background-size:30px;
	background-position:center;
	background-repeat:no-repeat;
	position:absolute;
	left:0;
	top: -25px;
}*/
.picky_box .box_title br{
	display:none;
}
.picky_box .left_wrap{
	display:inline-block;
	text-align:left;
	vertical-align: top;
	width:65%;
}
.picky_box .left_wrap .wrap_title{
	font-size: 30px;
	color: #707070;
	line-height:37px;
	font-family: "PT Sans Narrow", sans-serif;
	font-weight:bold;
	margin-bottom: 14px;
}
.picky_box .left_wrap .comment{
	font-size: 16px;
	line-height: 25px;
	color: #707070;
}
.picky_box .icon{
	display:inline-block;
	margin-left: 4%;
	width: 28%;
}
.picky_box .deli_flow{
	margin:0 auto;
	margin-top: 40px;
}
.picky_box .deli_flow .name{
	font-weight:bold;
	font-size: 24px;
	color: #515151;
	font-family: "PT Sans Narrow", sans-serif;
	margin: 0 auto;
	width: 100%;
	margin-bottom: 27px;
	border-bottom: 1px solid;
	padding-bottom: 5px;
}
.picky_box .deli_flow .flow_box{
	margin:0 auto;
	margin-bottom: 60px;
}
.picky_box .deli_flow .flow_box .s_box{
	width: 30%;
	/* float:left; */
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-bottom: 35px;
	position:  relative;
	display:  inline-block;
	vertical-align: top;
}
.picky_box .deli_flow .flow_box .s_box .image{
	width:100%;
	line-height:0;
	margin-bottom: 10px;
	border-radius: 10px;
	overflow: hidden;
}
.picky_box .deli_flow .flow_box .s_box .comment{
	margin:0 auto;
	width:95%;
	font-size: 14px;
	line-height: 20px;
	color: #707070;
}
.picky_box .deli_flow .flow_box .s_box .navi{
	position:absolute;
	right: -8%;
	top: 138px;
	width: 11px;
}

/*-----------------------------
      Column
------------------------------ */
.column_area{
	margin: 0 auto;
	background-color: #ffffff;
	padding: 5%;
	margin-top: 30px;
}
.column_area .l_title{
	font-size: 25px;
	font-weight: bold;
	line-height: 35px;
	margin-bottom: 40px;
	margin-top: 40px;
	text-align: left;
}
.column_area .m_title{
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: left;
	color: #012995;
}
.column_area .s_title{
	font-size: 18px;
	line-height: 27px;
	font-weight: bold;
	margin-bottom: 3px;
	margin-top: 30px;
	text-align: left;
}
.column_area .wrapper{
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 60px;
	text-align: center;
}
.column_area .frame{
	background-color: #F7F7F7;
	padding: 19px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
}
.column_area .comment{
	color: #707070;
	font-size: 15px;
	line-height: 25px;
	text-align: left;
	margin-top: 10px;
}
.column_area .s_comment{
	color: #707070;
	font-size: 13px;
	line-height: 21px;
	text-align: left;
	margin-top: 10px;
}
.column_area .wrapper .image{
	margin: 0 auto;
	margin-bottom: 5px;
}
.column_area .wrapper .image img{
	width: 100%;
	height: auto;
}
.column_area .wrapper .caption{
	font-size: 14px;
	line-height: 22px;
	color: #707070;
	text-align: left;
	margin-bottom: 30px;
}
.column_area .col_single{
	margin: 0 auto;
}
.column_area .col_02{
	margin:0 auto;
	color:#3C3C3C;
	columns: 2;
	/* column-rule-style: solid; */
	/* column-rule-width: 1px; */
	/* column-rule-color: #000000; */
	-moz-column-count: 2;
	/*-moz-column-rule-style: solid;*/
	/*-moz-column-rule-width: 1px;*/
	-moz-column-rule-color: #000000;
	-webkit-column-count: 2;
	/* -webkit-column-rule-style: solid; */
	/* -webkit-column-rule-width: 1px; */
	-webkit-column-rule-color: #e2e2e2;
	-o-column-count: 2;
	/*-o-column-rule-style: solid;*/
	/*-o-column-rule-width: 1px;*/
	-o-column-rule-color: #000000;
	-ms-column-count: 2;
	/*-ms-column-rule-style: solid;*/
	/*-ms-column-rule-width: 1px;*/
	-ms-column-rule-color: #000000;
}
.column_area .col_02 .comment{
	padding-left: 15px;
	padding-right: 15px;
}
.column_area .col_left{
	display: inline-block;
	vertical-align: top;
	width: 48%;
	margin-right: 2%;
}
.column_area .col_right{
	display: inline-block;
	vertical-align: top;
	width: 48%;
	margin-left: 2%;
}

.column_area .col_03_left{
	display: inline-block;
	vertical-align: top;
	width: 31.3%;
	margin-right: 2%;
}
.column_area .col_03_center{
	display: inline-block;
	vertical-align: top;
	width: 31.3%;
	margin-left: 1%;
	margin-right: 1%;
}
.column_area .col_03_right{
	display: inline-block;
	vertical-align: top;
	width: 31.3%;
	margin-left: 2%;
}

/*-----------------------------
      extension
------------------------------ */
.extension_page .ex_data_info {
    margin-top: 25px;
    background-color: #f1f1f1;
    padding: 20px 20px;
    border-radius: 7px;
    margin-bottom: 15px;
}
.extension_page .ex_data_info .name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 3px;
    color: #032994;
}
.extension_page .ex_data_info .comment {
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 3px;
    color: #012995 !important;
}
@media screen and (max-device-width: 1024px) {

}
@media screen and (max-device-width: 1200px){


}
@media only screen and (max-width: 767px){
	.pc{
		display:none;
	}
	.sp{
		display:inherit;
	}
	.sp-order{
		display:flex;
	}
 /*-----------------------------
      common
------------------------------ */
 .btn.btn-moredetail-sp {
    position: absolute;
    padding: 5px 0;
    border-radius: 10px;
    top: -5rem;
    right: -22rem;
    width: 8rem;
    border: 1px solid #eaeaea;
    background: no-repeat right 8px top 38% #009899 url(../img/common/icon_more_detail_off.png);
    background-size: 12%;
    color: #FFF;
}
a.order_link:after {
    width: 20px;
    height: 25px;
    background-size: 6px;
    right: 5px;
    top: initial;
    bottom: 7px;
}
.box_title .sub {
    font-size: 20px;
}
a.order_link .box_title {
    min-height: 130px !important;
    margin: 0 auto;
    padding: 25px 0px;
    padding-top: 33px;
}
.box .copy_back {
    border-width: 47px 57px 0 0px;
    border-color: #FFC107 transparent transparent transparent;
    left: 2px;
    top: 2px;
}
.box .copy {
    top: 6px;
    left: 6px;
    line-height: 1 !important;
    color: #ffffff;
    font-size: 13px;
}

/*-----------------------------
      top
------------------------------ */
.carousel{
	margin: 0 auto;
	width: 80%;
	max-width: 1000px;
	margin-bottom: 20px;
	}	
/*-----------------------------
      Top_slider calculation
------------------------------ */
section.calc_section {position: relative;height: auto;}
.haiso_box {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: -379px;
}
.top_slide .calc_title .name {
    margin: 0 auto;
    display: inline-block;
    font-size: 16px;
    line-height: 27px;
    font-weight: bold;
    vertical-align: top;
    color: #ffffff;
}
.top_slide .calc_title .icon {
    margin: 0 auto;
    display: inline-block;
    width: 18px;
    height: auto;
    vertical-align: top;
    margin-right: 5px;
}
	.top_slide .container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding-bottom: 115px;
    height: 717px;
}
	.top_slide .container-fluid .vertical .vertical-middle {
		display: table-cell;
		vertical-align: top;
		padding-top: 31px;
		width: 100%;
		height: 100%;
	}
.top_slide .calc_area {
    background: none;
    background-color: #ffffffcc;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    width: 92%;
    max-width: none;
    border: 4px solid #8ba3c7;
    border-radius: 8px;
    text-align: center;
    position: absolute;
    top: initial;
    bottom: 20px;
    right: 0;
    left: 0;
}
	.top_slide #haiso_select .wrap_title {
    font-size: 15px;
    color: #525252;
    margin-bottom: 5px;
    font-weight: normal;
    text-align: left;
    width: 39%;
    display: inline-block;
}
.top_slide #haiso_select .haiso_selector {
    margin: 0 auto;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    color: #515151;
    width: 59%;
    background-color: rgb(255, 241, 241);
    border: 1px solid rgb(166, 166, 166);
    text-align: left;
    display: inline-block;
}
.top_slide .start_date_box .wrap_title, .top_slide .end_date_box .wrap_title {
    font-size: 15px;
    color: #525252;
    text-align: left;
    margin-bottom: 5px;
    width: 39%;
    display: inline-block;
}
	.top_slide input#s_date02 {
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    color: #515151;
    width: 59%;
    display: inline-block;
    background-color: rgb(255, 241, 241);
    border: 1px solid rgb(166, 166, 166);
}
.top_slide input#e_date02 {
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    color: #515151;
    width: 59%;
    display: inline-block;
    background-color: rgb(255, 241, 241);
    border: 1px solid rgb(166, 166, 166);
}
.top_slide .kishu_box .wrap_title {
    font-size: 15px;
    color: #525252;
    margin-bottom: 5px;
    width: 39%;
    display: inline-block;
}
.top_slide select#kishu {
    font-size: 15px;
    margin-top: 0px;
    height: 35px;
    width: 59%;
    display: inline-block;
    color: #515151;
    background-color: rgb(255, 241, 241);
}
.top_slide #calc_btn {
    margin: 0 auto;
    margin-top: 12px !important;
    margin-bottom: 12px !important;
    width: 66% !important;
    max-width: 450px;
    display: inline-block;
}
.keyvisual.keyvisual-3 {
    background-position: 64% 0%;
    background-size: auto 51vh;
}
.keyvisual.keyvisual-2 {
    background-position: 5% 0%;
    background-size: auto 51vh;
}
.keyvisual.keyvisual-1 {
    background-position: 41% 0%;
    background-size: auto 51vh;
}
.slick-slide img {
    display: block;
    width: 64%;
    padding: 0;
    margin: 0 auto;
}
.delivery_service_box {
	top:inherit;
	bottom: 64px;
	width: 85%;
	right: 0;
	left: 0;
	margin: auto;
	background: #fff;
}
.delivery_service_box .date_box .btn {
    font-size: 22px;
}
.delivery_service_box .date_box #shortest_deliv {
    font-size: 25px;
}
.top_slide .slick-dots {
    position: absolute;
    bottom: -79px;
}
/*-----------------------------
      common calculation
------------------------------ */
.common_calc #haiso_select .wrap_title {
    font-size: 15px;
    color: #525252;
    margin-bottom: 5px;
    font-weight: normal;
    text-align: left;
    width: 39%;
    display: inline-block;
}
.common_calc #haiso_select .haiso_selector {
    margin: 0 auto;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    color: #515151;
    width: 59%;
    background-color: rgb(255, 241, 241);
    border: 1px solid rgb(166, 166, 166);
    text-align: left;
    display: inline-block;
}
.common_calc #haiso_select {
    margin: 0 auto;
    margin-bottom: 7px;
    width: 100%;
    display: block;
}
.common_calc .start_date_box .wrap_title, .common_calc .end_date_box .wrap_title {
    font-size: 15px;
    color: #525252;
    text-align: left;
    margin-bottom: 5px;
    width: 39%;
    display: inline-block;
}
.common_calc input#s_date02 {
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    color: #515151;
    width: 59%;
    display: inline-block;
    background-color: rgb(255, 241, 241);
    border: 1px solid rgb(166, 166, 166);
}
.common_calc input#e_date02 {
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    color: #515151;
    width: 59%;
    display: inline-block;
    background-color: rgb(255, 241, 241);
    border: 1px solid rgb(166, 166, 166);
}
.common_calc .start_date_box, .common_calc .end_date_box {
    display: block;
    width: 99%;
    margin: 0 auto;
    float: none;
    margin-bottom: 7px;
    margin-left: 1%;
}
.common_calc .kishu_box .wrap_title {
    font-size: 15px;
    color: #525252;
    margin-bottom: 5px;
    width: 39%;
    display: inline-block;
}
.common_calc select#kishu {
    font-size: 15px;
    margin-top: 0px;
    height: 35px;
    width: 59%;
    display: inline-block;
    color: #515151;
    background-color: rgb(255, 241, 241);
}
.common_calc #calc_box {
    width: 93% !important;
    text-align: center !important;
    margin: 0 auto !important;
}
.common_calc #start_date {
    width: 95%;
    left: 0;
    right: 0;
    margin: auto;
}
.common_calc #end_date {
    width: 95%;
    left: 0;
    right: 0;
    margin: auto;
}
/*-----------------------------
      Commitment
------------------------------ */	
.commitment_lead {
    padding-top: 40px;
    width: 100%;
}
.commitment_lead .comment {
    width: 100%;
}
.commitment_lead .image {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: right;
}
.commitment_lead .image img {
width: 27%;
text-align: right;
margin-top: -24px;
}
.picky_box {
    width: 100%;
}
.picky_box .box_title {
    text-align: center;
}
.picky_box .left_wrap {
    width: 100%;
}
.picky_box .icon {
    display: block;
    margin: 0 auto;
    width: 54%;
    margin-top: 20px;
}
.picky_box .deli_flow .flow_box .s_box {
    width: 44%;
    margin-left: 2.6%;
    margin-right: 2.6%;
}
.picky_box .deli_flow .flow_box .s_box .navi {
    position: absolute;
    right: -12%;
    top: 62px;
    width: 7%;
}
.picky_box .deli_flow .flow_box {
    margin: 0 auto;
    margin-bottom: 0px;
}
/*-----------------------------
      Column
------------------------------ */
.column_area .l_title {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 35px;
    margin-top: 35px;
    text-align: left;
}
.column_area .m_title {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 10px;
    text-align: left;
}
.column_area .comment {
    font-size: 14px;
    line-height: 23px;
    text-align: left;
    margin-top: 10px;
}
.column_area .wrapper .caption {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 30px;
}
.column_area .wrapper {
    margin-top: 40px;
    margin-bottom: 50px;
}
.column_area .col_left {
    display: block;
    vertical-align: top;
    width: 100%;
    margin: 0 auto;
}
.column_area .col_right {
    display: block;
    vertical-align: top;
    width: 100%;
    margin: 0 auto;
}
.column_area .col_03_left {
    display: block;
    vertical-align: top;
    width: 100%;
    margin: 0 auto;
	    margin-bottom: 25px;
}
.column_area .col_03_center {
    display: block;
    vertical-align: top;
    width: 100%;
    margin: 0 auto;
	    margin-bottom: 25px;
}
.column_area .col_03_right {
    display: block;
    vertical-align: top;
    width: 100%;
    margin: 0 auto;
	    margin-bottom: 25px;
}
/*-----------------------------
      Order
------------------------------ */
.common_faq .wrap_faq .s_box {
    padding-bottom: 26px;
    padding-top: 33px;
    width: 100%;
    margin: 0 auto;
}
.common_faq .wrap_faq .text_q {
    margin: 0 auto;
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
}
.common_faq .wrap_faq .text_a {
    margin: 0 auto;
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.5;
}
.accordionbox.common_btn {
    margin: 0 auto;
    margin-top: 15px;
    width: 100%;
    padding: 25px 0;
}
}
/*----------------------------

------------------------------*/
