@charset "UTF-8";
/* CSS Document */
body {
    overflow-x: hidden;
    padding-top: 80px;
}
.container {
    width: 100%;
    max-width: 1200px;
    height: 80px;
}
.d-md-block {
    display: none !important;

}
.d-md-none {
    display: block !important;
}
.content.content-logo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #FFF;
    font-size: 5vw;
    padding: 0;
    font-family: "PT Sans Narrow", sans-serif;
}
.content.content-logo .content-logo_part {
    display: table;
    padding: 0 !important;
    height: 80px;
}
.content.content-logo .content-logo_part.content-logo_left a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: #FFF;
    color: #012995;
    font-size: 17px;
    font-family: "Noto Sans", sans-serif;
}
.content.content-logo .content-logo_part.content-logo_left a .oi {
    font-size: 38px;
}
.content.content-logo .content-logo_part.content-logo_center a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: #FFF;
}
.content.content-logo img.content-logo_logo {
    padding: 0px 50px 6px 20px;
    max-height: 61px;
    width: auto;
    max-width: 100%;
}
.content.content-logo .content-logo_part.content-logo_right a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: #E40000;
    color: #FFF;
    background-image: url(/img/common/btn_icon_W.png);
    background-position: right 3px bottom 3px;
    background-repeat: no-repeat;
    font-size: 25px;
    line-height: 1.0;
}
#menulist {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: #012995;
    overflow-y: auto;
}
.list.list-headnav {
    color: #FFF;
}
.list.list-headnav li {
    display: block;
    font-size: 3vw;
    border-bottom: 1px solid #FFF;
    text-align: left;
}
.list.list-headnav li a {
    display: block;
    width: 100%;
    color: #FFF;
    padding: 10px;
    font-size: 1.4rem;
}
footer .container {
    width: 100%;
    max-width: 1200px;
    height: auto;
}
@media screen and (max-device-width: 1024px) {

}
@media screen and (max-device-width: 900px){

}
@media only screen and (max-width: 767px){
.content.content-logo .content-logo_part.content-logo_left a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: #FFF;
    color: #012995;
    font-size: 2.5vw;
    font-family: "Noto Sans", sans-serif;
}
.content.content-logo .content-logo_part.content-logo_left a .oi {
    font-size: 7vw;
}
.content.content-logo .content-logo_part.content-logo_right a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: #E40000;
    color: #FFF;
    background-image: url(/img/common/btn_icon_W.png);
    background-position: right 3px bottom 3px;
    background-repeat: no-repeat;
    font-size: 5vw;
    line-height: 1.8rem;
}
.content.content-logo img.content-logo_logo {
    padding: 0px 50px 10px 20px;
    max-height: 80px;
    width: auto;
    max-width: 100%;
}
}