@charset "UTF-8";
/* CSS Document */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
a,
img {
  border: 0;
}
/********** default **********/
.content {
  width: 460px;
  margin: 0 auto;
  padding: 40px 0
}
.main,
.main li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main {
  margin-bottom: 5px;
}
.main li {
  width: 460px;
  height: auto;
  overflow: hidden;
}
.main li.item2,
.main li.item3,
.main li.item4 {
  display: none;
}
.main li:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}
.thumb,
.thumb li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.thumb li {
  display: inline-block;
  width: 111px;
  height: auto;
  overflow: hidden;
  cursor: pointer;
  vertical-align: top;
  margin-bottom: 4px;
}
.thumb li img {
  width: 100%;
  height: auto;
}
.thumb li:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}
