#top_fix {
    height: 70px;
    color: #fff;
}
.fixheader {
    position: absolute;
    background: rgba(0,0,0,.8);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .2);
    width: 100%;
    max-width: 1100px;
    /* padding-top: 50px; */
    /* padding-bottom: 50px; */
    /* transition: padding-bottom .2s ease 0s; */
}
#order_page .fixheader {
    max-width: 1300px;
}
.fixed .fixheader {
    position: fixed;
    /* margin-top: -50px; */
    /* padding-bottom: 0px; */
}
.header_bottom {
    /* 出てくる時のアニメーション設定 */
    transition: margin-top .4s ease 0s, opacity .4s ease .2s;
    opacity: 1;
}
.fixed .header_bottom {
    /* 消える時のアニメーション設定 */
    transition: margin-top 0s ease 0s, opacity .4s ease 0s;
    margin-top: -120px;
    opacity: 0;
}
/* タイトルにもちょっとアニメーション付けてみる */
#top_fix h1 {
    line-height: 40px;
    transform: scale(1) rotate3d(1, 0, 0, -0deg);
    transition: transform 0.6s ease;
}
#top_fix.fixed h1 {
    transform: scale(0.6) rotate3d(1, 0, 0, -360deg);
}
@media only screen and (max-width : 1000px) {
	#top_fix {
    height: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
}