@charset "UTF-8";

#calc_box, 
#calc_btn, 
#result {
	margin:0 auto;
	width:600px;
}
.calc_area {
    background: none;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 0;
    width: 95%;
    max-width: 600px;
    border: 2px solid #797979;
    border-radius: 12px;
    text-align: center;
}
.kishu_box {
    text-align: left;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.haiso_box {
    text-align: center;
    max-width: 910px;
    width: 85%;
    margin: 0 auto;
    position: absolute;
    background-color: #525252e0;
    border: 3px solid #406bb7;
    padding: 20px;
    border-radius: 14px;
    left: 0;
    right: 0;
    top: 0%;
}
.haiso_box.disp_0 {

}
.haiso_box.disp_100 {

}
label.select_place {
    display: inline-block;
    width: 30.5%;
    vertical-align: top;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 6px;
    margin-bottom: 4px;
    margin-top: 4px;
    cursor: pointer;
}
label.select_place .select_image:hover {
	opacity:0.6;
	transition:0.4s;
}
.select_place input {
    display: none;
}
.start_date_box, 
.end_date_box {
	float:left;
	text-align:center;
	width: 30%;
	margin-left: 1%;
	margin-right: 1%;
}
#start_date{
	position:absolute;
	max-width: 450px;
	width: 87%;
	left: 0;
	right: 0;
	margin: auto;
}
#end_date{
	position:absolute;
	max-width: 450px;
	width: 87%;
	left: 0;
	right: 0;
	margin: auto;
}
#calc_btn {
	margin-top:24px;
	text-align:center;
	cursor:pointer;
}
.no_disp {
	display:none;
}
.calc_area .title {
    margin-bottom: 39px;
    margin-left: 0;
    text-align:  center;
    margin-top: 33px;
}
#calc_box, #calc_btn, #result {
    width: 80% !important;
    text-align: center !important;
    margin: 0 auto !important;
}
#result{
	width: 95%!important;
}
.result_box {
    background-color: #ffffff;
    margin: 0 auto;
    width: 95%;
    max-width: 730px;
    padding-top: 40px;
    padding-bottom: 50px;
    border: 3px solid #000000;
    border-radius: 15px;
    margin-top: 20px;
}
#result .title {
	text-align: left;
	font-size: 28px;
	font-weight: bold;
	color: rgb(213, 130, 49);
	letter-spacing: 3px;
	margin-top: 20px;
	border-bottom: 2px solid #e2caca;
	padding-left: 43px;
}
#your_plan {
	margin:0 auto;
	width: 100%;
	background-color: rgb(253, 249, 228);
	padding-top: 5px;
	border: 3px solid #f60;
	margin-bottom: 13px;
}
#your_plan .plan_name a {
    font-size: 21px;
    color: rgb(255, 255, 255);
    float: left;
    margin-left: 20px;
    margin-bottom: 17px;
    background-color: #f60;
    padding: 5px;
    border-radius: 15px;
    text-decoration: none;
    padding-left: 14px;
    padding-right: 14px;
}
#your_plan .plan_name a:hover {
	opacity:0.6;
}
#your_plan .pack_discount{
	font-size:15px;
	color: #f60;
	margin-left: 25px;
	margin-bottom: 10px;
}
.calc_area input::placeholder {
  color: #515151;
}
input#s_date02 {
    font-size: 17px;
    padding: 10px 5px 10px 5px;
    color: #515151;
    width: 98%;
    background-color: rgb(255, 241, 241);
    border: 1px solid rgb(166, 166, 166);
}
input#e_date02 {
    font-size: 17px;
    padding: 10px 5px 10px 5px;
    color: #515151;
    width: 98%;
    background-color: rgb(255, 241, 241);
    border: 1px solid rgb(166, 166, 166);
}
select#kishu {
    font-size: 17px;
    margin-top: 3px;
    height: 45px;
    width: 100%;
    color: #515151;
    background-color: rgb(255, 241, 241);
}
select#haiso {
    font-size: 17px;
    margin-top: 3px;
    height: 45px;
    width: 100%;
}
.rental_faq{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin: 0 auto;
	width: 545px;
}
.rental_faq .faq_title{
	font-size: 18px !important;
	font-weight: bold !important;
	color: #ffffff !important;
	margin: 0;
	margin-left: 0;
	margin-bottom: 10px;
	text-align: center !important;
	background-color: #00aecc;
	padding: 4px;
	border-radius: 22px;
}
.rental_faq .q_text{
	font-size:16px;
	color:#1F5EB8;
	position:relative;
	padding-left: 30px;
	font-weight: bold;
	line-height: 21px;
	margin-bottom: 6px;
	margin-top: 14px;
}
.rental_faq .q_text:before{
	position:absolute;
	width:17px;
	height:17px;
	content:"Q";
	font-weight:bold;
	left: 2px;
}
.rental_faq .a_text{
	font-size: 13px;
	color:#B23216;
	position:relative;
	padding-left: 30px;
	line-height: 18px;
}
.rental_faq .a_text:before{
	position:absolute;
	width:17px;
	height:17px;
	content:"A";
	font-weight:bold;
	left: 4px;
}
.rental_faq .faq_other{
	font-size:16px;
	color:#1F5EB8;
	position:relative;
	padding-left: 30px;
	font-weight: bold;
	line-height: 21px;
	margin-bottom: 6px;
	margin-top: 14px;
}
.rental_faq .faq_other a{
	color:#BA01B9;
}
.rental_faq .faq_other a:hover{
	opacity:0.6;
}

.kishu_box .wrap_title{
	font-size:18px;
	color: #525252;
	margin-bottom: 5px;
}
#haiso_select .wrap_title {
    font-size: 18px;
    color: #525252;
    margin-bottom: 5px;
    font-weight:bold;
    text-align:left;
}
.start_date_box .wrap_title, .end_date_box .wrap_title {
    font-size: 18px;
    color: #525252;
    text-align: left;
    margin-bottom: 5px;
}
#result .title {
    text-align: center;
    font-size: 26px;
    color: #525252 !important;
    border: none !important;
    padding: 0 !important;
    margin-bottom: 4px;
}
#your_plan {
    margin: 0 auto;
    width: 95% !important;
    border: none !important;
    margin-bottom: 13px;
    background: none;
    padding: 0;
    text-align: center;
    background-color: #ffffff !important;
}
.plan_detail {
    padding-bottom: 25px;
    border: 2px solid #999;
    padding: 3%;
}
.plan_list {
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid #999;
    padding-left: 20px;
    text-align: right;
    width: 74%;
}
.plan_detail .rental_date {
    font-size: 17px;
    color: #434343;
    border-bottom: 1px solid;
    margin-bottom: 18px;
    padding-bottom: 7px;
    text-align: left;
}
.plan_detail .detail_title {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
    color: #525252;
    display: inline-block;
    text-align: center;
    margin: 0px 25px 0px 25px;
}
.plan_detail .brand {
    font-size: 17px;
    margin: 0;
    color: #575757;
    font-weight: bold;
}
#result .pack {
    font-size: 22px;
    margin: 0;
    color: #0089b9;
    font-weight: bold;
}
#result .pack_over {
	font-size:15px;
	margin:0 auto;
	width:90%;
	color: #525252;
}
.price {
    font-size: 18px;
    margin: 0;
    color: #3e3e3e;
}
.btn_plan {
    width: 52%;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 25px;
}
.btn_plan:hover {
	opacity:0.6;
	transition:0.4s;
}
.btn_retry {
    width: 32%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 25px;
    display: inline-block;
}
.btn_retry:hover {
	opacity:0.6;
	transition:0.4s;
}
#your_plan .attention_text {
    font-size: 13px;
    line-height: 18px;
    margin-top: 10px;
    text-align: left;
    margin-left: 41%;
}
.non_margin{
	margin:0 !important;
}
#haiso_select{
	margin:0 auto;
	margin-bottom: 20px;
}
#haiso_select .haiso_selector{
	margin:0 auto;
	font-size: 17px;
	padding: 10px 5px 10px 5px;
	color: #515151;
	width: 98%;
	background-color: rgb(255, 241, 241);
	border: 1px solid rgb(166, 166, 166);
	text-align:left;
}
#haiso_select .haiso_selector span{
	text-align:left;
}
.start_date_box, .end_date_box {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    float: none;
}
.calc_area .btn_reset {
    display: inline-block;
    width: 19%;
    margin-right: 1%;
}
.calc_area .btn_reset:hover {
	opacity:0.6;
	transition:0.4s;
}
#calc_btn {
	margin:0 auto;
	margin-top: 30px !important;
	margin-bottom: 30px !important;
	width: 66% !important;
	max-width:450px;
	display: inline-block;
}
#calc_btn:hover {
	opacity:0.6;
	transition:0.4s;
	cursor:pointer;
}
.calc_area .result_box {
    background-color: rgb(250, 250, 250);
    margin: 0 auto;
    width: 90%;
    padding: 3%;
    text-align: left;
}
.comment {
    font-size: 13px;
    line-height: 22px;
    color: #ac5252;
    margin-top: 10px;
}
#result .navi_down {
    margin: 0 auto;
    width: 70px;
    margin-top: 35px;
}
.calc_area .attention_text {
    font-size: 16px;
    line-height: 26px;
    color: #434343;
    margin-left: 37px;
    margin-right: 32px;
    margin-top: 10px;
    padding-bottom: 22px;
    text-align: center;
}
.rental_faq {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    margin: 0 auto;
    width: 90%;
    text-align: left;
}
input:disabled, textarea:disabled {
    color: #888 !important;
    cursor: default;
}

.ui-datepicker {
    width: 100% !important;
    padding: .2em .2em 0;
    display: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #cccccc;
    background: #f6f6f6 !important;
    font-weight: bold;
    color: #1c94c4;
    font-size: 18px;
}
.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
    font-size: 18px;
}
.ui-widget-header {
    border: 1px solid #416bb6 !important;
    background: #416bb6 !important;
    color: #ffffff;
    font-weight: bold;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #f2d02c !important;
    background: #f2d02c !important;
    font-weight: bold;
    color: #eb8f00;
}
/*-------------------------
セレクト時の選択挙動
--------------------------*/
.disp_0.disp_100 {
  opacity:1;
  -webkit-transform: scale(1) translateY(-90px);
  -moz-transform:scale(1) translateY(-90px);
  -o-transform:scale(1) translateY(-90px);
  transform:scale(1) translateY(-90px);
    -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
  z-index: 100;
  pointer-events:inherit;
  }
.disp_0 {
  opacity:0;
  z-index: -1;
  pointer-events: none;
  
}
/*.disp_0 {
  transform-origin:50% 0%;
  -webkit-transform: scale(0) translateY(-190px);
  -moz-transform:scale(0) translateY(-190px);
  -o-transform:scale(0) translateY(-190px);
  transform:scale(0) translateY(-190px);
  opacity:0;
}*/



/* Clearfix
---------------------------------*/
.clearfix {
  min-height: 1px;
  margin-bottom: 0;
  margin-top: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.clear { clear:both; }

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

@media only screen and (max-width: 767px){

.plan_detail .detail_title {
    display: block;
}
.plan_list {
    display: block;
    border-left: none;
    padding-left: 0;
    margin: 0 auto;
    text-align: right;
    margin-top: 20px;
    width: 95%;
}
.btn_plan {
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-top: 0;
}
.btn_retry {
    width: 33%;
    margin-left: 10%;
    margin-right: 1%;
    margin-top: 7px;
    display: block;
}
#start_date {
    width: 110%;
    left: 0;
    right: 0;
    margin: auto;
    margin-left: -5%;
}
#end_date {
    width: 110%;
    left: 0;
    right: 0;
    margin: auto;
    margin-left: -5%;
}
#your_plan .attention_text {
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    margin: 0 auto;
    width: 85%;
    margin-top: 10px;
}

}

